* {
    border: red 1px solid;
    /* background-color: aqua; */
    margin: 10px;
}

#section_1 {
    height: 40vh;
    background-image: url(https://images.pexels.com/photos/457881/pexels-photo-457881.jpeg);
    background-size: 100%;
}

#landing_form {
    width: 50%;
    margin: 10vh auto;
    height: 50%;
}

#section_2 {
    height: 100px;
    display: flex;
    justify-content: space-around;


    }

#section_2 p {
 width: 15vw;
}

nav {
    text-align:center;
    height: 30px;
}

button {
    background-color: #008CBA;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 4px;
    border: #008CBA solid 1px;
}


body, html {
    border: none;
}
