* {
    border: red 1px solid;
    margin: 10px;
}

html {
    border: none;
}

ul {
    padding: 0px;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: black;
}

li {
    float: right;
}

li p{
    display: block;
margin-top: auto;
margin-bottom: auto;
    color: white;
    font-family: Roboto;
    font-size: 3vh;
    padding: 2vh 2vw 2vh 2vw;
}

li p:hover {
background-color: #5f2020;
}

#logo img {
    height: 5vh;
    margin-left: 5vw;
    margin-top: 1vh;
}