.wrapper {
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "aside  article article"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: #f1c40f;
  padding: 30px;
  text-align: center;
}

.article {
  grid-area: article;
  background-color: #e74c3c;
  padding: 30px;
  text-align: center;
}
.aside {
  grid-area: aside;
  background-color: #3498db;
  padding: 30px;
  text-align: center;
}
.footer {
  grid-area: footer;
  background-color: #2ecc71;
  padding: 30px;
  text-align: center;
}
