* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
}

.container {
  display: flex;
}

#sidebar {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100vh;
  width: 20%;
  background-color: darkgray;
  padding: 5px;
}

#sidebar > * {
  border: 1px solid #000;
  border-radius: 8px;
}

#clear {
  grid-column: 1/4;
  background-color: white;
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

#main {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  height: 100vh;
  padding: 5px;
  width: 80%;
}

#main > * {
  border: 1px solid lightgray;
  background-color: white;
}
