* {
    /* border: black solid 1px;    */
    padding: 5px;
}

#game_section {
    display: flex;
    flex-direction:row;

    margin-left: auto;
    margin-right: auto;
}

#clear_button {
    width: 13vw;
    height: 5vh;
};

#left_section {
    width: 20vw;
    height: 80vh;

}

.left_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
    grid-gap: 3px;
    height: 72vh;
    border: black solid 1px;   
    background-color: lightgray;
}

.right_grid_container {
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    /* grid-template-rows: auto; */
    grid-gap: 1px;
    height: 80vh;
    border: black solid 1px;   
    background-color: lightgray;
}

.right_grid_item {
    background-color: white;
}

.left_grid_item {
    border: black solid 1px;   
}