* {
    border: 1px solid white;
    color: white;
}

body {
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    background-color: black;
}

#main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
i {
    border: none;
}