

img {
    border: 6px orange solid;
}

th, td {
border: 1px solid black;
}

#Cat_sences {
    margin-left: 30px;
}

h3 {
    text-align: center;
}

#Lion_tables {
    margin-left: 30px;
    margin-right: 30px;
}