.main {
    border: 1px solid black;
    background-color: aquamarine;
    font-size: 22px;
    /* & .inner {
        border: 1px solid black;
        background-color: aqua;
        color:blueviolet
    } */
}
.main.inner {
    border: 1px solid black;
    background-color: aqua;
    color:blueviolet
}
/* .text-primary {
    color: pink !important;
} */

.my-text-primary {
    color: red !important;
}