div {
    border: 2px black solid;
    margin: 10px;
    padding: 15px;

.inner {
    background-color: yellow;
    height: 15px;
    width: 15px;
}

.outer.col {
    background-color: plum;
}

.outer.row {
    background-color: paleturquoise;

}

}
#wrapper {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {

    .outer.row {
        display: flex;
        height: 80px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .inner.row {
        height: 15px;
        width: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (min-height: 600px) {

    #wrapper {
        flex-direction: column;
    }
    .outer {
        display: flex;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .outer div {
        height: 15px;
        width: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

}